*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}
nav img{
    width: 100px;
    height: auto;
}
nav ul{
    display: flex;
    list-style: none;
}
nav li{
    margin: 0 10px;
}
nav a{
    text-decoration: none;
    color: #575757;
}
nav li:hover a{
    color: #1D4ED8;
}
nav button{
    background-color: #1D4ED8;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
}
nav button:hover{
    background-color: #2563EB;
}


header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/banner.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0 10%;
}
.hero-content{
    text-align: center;
}
header h1{
    color: #fff;
    font-size: 3rem;
    text-align: center;
    margin-top: 20vh;
}
header p{
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 60px;
}
header button{
    background-color: #1D4ED8;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
}
header button:hover{
    background-color: #2563EB;
}

.speakers{
    padding: 50px 10%;
    text-align: center;
}
.speakers h2{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
}
.speaker-cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;

}
.speaker-card{
    border-radius: 10px;
    width: 450px;
    height: 350px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.speaker-card img{
    width: 100%;
    margin-bottom: 10px;
}
.card-content{
    padding: 15px;
}
.technology{
    font-weight: bold;
    color: #2563EB;
}

.offer{
    padding: 50px 10%;
    text-align: center;
}

.offer h2{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
}
.offer p{
    color: #777777;
    margin-bottom: 40px;
}
.offer-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
}
.offer-card{
    border-radius: 10px;
    width: 300px;
    height: 400px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 35px;
}
.offer-card h3{
    color: #777777;
    font-size: 13px;
    font-weight: 600;
}
.offer-card h2{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}
.offer-card p{
    color: #777777;
    margin-bottom: 20px;
}
.offer-card ul{
    margin-bottom: 20px;
}
.offer-card li{
    margin-bottom: 10px;
}
.offer-card li::marker {
    color: #2563EB; 
}
.offer-card hr{
    border: 1px solid #E5E7EB;
    margin: 20px 0;
}
.getStarted-btn{
    background-color: #ffffff;
    color: #1D4ED8;
    border: 1px solid #1D4ED8;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
}
.getStarted-btn:hover{
    background-color: #1D4ED8;
    color: #ffffff;
    transition: 0.3s;
}

.offer-card-highlight{
    border-radius: 10px;
    width: 300px;
    height: 400px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 35px;
    background-color: #0D1B2A;
    color: #ffffff;
}
.offer-card-highlight h3{
    color: #93C5FD;
    font-size: 13px;
    font-weight: 600;
}
.offer-card-highlight h2{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}
.offer-card-highlight p{
    color: #bebcbc;
    margin-bottom: 20px;
}
.offer-card-highlight ul{
    margin-bottom: 20px;
}
.offer-card-highlight li{
    margin-bottom: 10px;
}
.offer-card-highlight li::marker {
    color: #2563EB; 
}
.offer-card-highlight hr{
    border: 1px solid #434343;
    margin: 20px 0;
}
.pro-btn{
    background-color: #1D4ED8;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
}
.pro-btn:hover{
    background-color: white;
    color: #1D4ED8;
    border: 1px solid #1D4ED8;
}
.contact-btn{
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
}
.contact-btn:hover{
    background-color: black;
    color: white;
    border: 1px solid black;
}

footer {
    background-color: #0D1B2A;
    color: #FFFFFF;
    padding: 50px 8%;
}


.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 40px;
}


.footer-logo img {
    width: 160px;
    margin-bottom: 15px;
}


.footer-links h3,
.footer-social h3 {
    font-size: 20px;
    margin-bottom: 20px;
    color: #9CA3AF;
}

.footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links li {
    margin-bottom: 12px;
}

.footer-links a {
    text-decoration: none;
    color: #9CA3AF;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #2563EB;
}

.social-icons {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 15px;
}

.social-icons a {
    width: 42px;
    height: 42px;
    background: #1E293B;
    color: #FFFFFF;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    font-size: 18px;
    transition: all 0.3s ease;
}

.social-icons a:hover {
    background-color: #2563EB;
    transform: translateY(-3px);
}


.footer-divider {
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    margin: 40px 0 20px;
}

.copyright {
    text-align: center;
    color: #9CA3AF;
    font-size: 14px;
    margin: 0;
}

.playground{
    padding:100px 0;
    background:#F8FAFC;
}

.section-title{
    text-align:center;
    max-width:700px;
    margin:0 auto 60px;
}

.section-title h2{
    font-size:42px;
    color:#111827;
    margin-bottom:18px;
}

.section-title p{
    color:#6B7280;
    line-height:1.7;
}

.playground-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:30px;
}

.tech-card{

    background:white;

    border-radius:20px;

    padding:35px;

    box-shadow:0 10px 30px rgba(0,0,0,.06);

    transition:.35s;

    border:2px solid transparent;

    display:flex;

    flex-direction:column;

    gap:18px;
}

.tech-card i{

    width:70px;

    height:70px;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:28px;

    color:white;

    border-radius:16px;

    background:linear-gradient(
        135deg,
        #2563EB,
        #3B82F6
    );

    transition:.35s;
}

.tech-card h3{
    font-size:24px;
    color:#111827;
}

.tech-card p{
    color:#6B7280;
    line-height:1.7;
}

.badge{

    display:inline-block;

    width:max-content;

    background:#DBEAFE;

    color:#2563EB;

    padding:8px 16px;

    border-radius:30px;

    font-size:14px;

    font-weight:600;
}

.tech-card a{

    margin-top:auto;

    color:#2563EB;

    text-decoration:none;

    font-weight:700;

    transition:.3s;
}

.tech-card:hover{

    transform:translateY(-10px);

    box-shadow:0 18px 40px rgba(37,99,235,.18);

    border-color:#2563EB;
}

.tech-card:hover i{

    transform:rotate(-10deg) scale(1.1);
}

.tech-card:hover a{

    transform:translateX(8px);
}

