*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}
nav img{
    width: 100px;
    height: auto;
}
nav ul{
    display: flex;
    list-style: none;
}
nav li{
    margin: 0 10px;
}
nav a{
    text-decoration: none;
    color: #575757;
}
nav li:hover a{
    color: #1D4ED8;
}
nav button{
    background-color: #1D4ED8;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
}
nav button:hover{
    background-color: #2563EB;
}


header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/banner.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0 10%;
}
.hero-content{
    text-align: center;
}
header h1{
    color: #fff;
    font-size: 3rem;
    text-align: center;
    margin-top: 20vh;
}
header p{
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 60px;
}
header button{
    background-color: #1D4ED8;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
}
header button:hover{
    background-color: #2563EB;
}
